a:link {
    color: blue;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: green;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

body {
    background-color: black;
}

iframe {
    width: 350px;
    height: 500px;
    padding: 10px;
}

iframe:hover {
    box-shadow: 20px 20px 50px 20px blue inset;
}

h1 {
    color: white;
    text-align: center;
}